.btn {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 60px;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s;
    

    &:focus {
        outline: none;
    }

    &.btn--main {
        color: $white;
        background-color: $light-blue;

        &:hover {
            background-color: $dark-blue;
        }
    }

    &.btn--secondary {
        color: $bright-blue;
        background-color: transparent;
        border: 1px solid $bright-blue;
        background-blend-mode: multiply;

        &:hover {
            color: $white;
            background-color: $light-blue;
        }
    }

    &.btn--mw-prod{
        padding: 10px 20px;
        
        
    }
}