[class^="icon"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-mail {
    background-image: url($icons+"/Vector.svg");
    width: 18px;
    height: 15px;
    margin-left: 10px;
}