[class^="icon"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-mail {
    background-image: url($icons+"/Vector.svg");
    width: 18px;
    height: 15px;
    margin-left: 10px;
}

.icon-arrow-left {
    background-image: url($icons+"/Path.svg");
    width: 12px;
    height: 20px;
    margin-right: 20px;
}

.icon-arrow-right {
    background-image: url($icons+"/Path_right.svg");
    width: 12px;
    height: 20px;
}