[class^="icon"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon- {
    // background-image: url($icons+"/bookings.svg");
    width: 32px;
    height: 32px;
}