a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    transition: color 0.3s;
   
    &:hover {
        color: $light-blue;
        text-decoration: none;
    }
    &.a--back{
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            color: $white;  
        }
    }

    &.a--banner {
        padding-top: 10px;
        padding-left: 10px;
        text-decoration-line: underline;
        color: $white;
    }

    &.a--banner:hover {
        color: $light-blue;
    }

    &.a--product {
        font-weight: 500;
        line-height: 22px;
        color: $light-blue;
    }
}

@media (max-width: $small) {
    a{
        &.a--back{
            display: none;
        }
    }
}