.nav-item {
    a {
        display: block;
        position: relative;
        padding: 27px 30px 26px;
    }

    &.nav-item--mobile {
        display: none;
    }

}


.link-with-image {
    a {
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }
}

@media (max-width: $small) {
    .nav-item {
        padding: 10px 0;

        a {
            display: inline-block;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: $white;
            padding: 15px 0;
        }

        &.nav-item--mobile {
            display: block;
            margin: 50px;
            width: 268px;
            align-self: center;

            a {
                font-size: 14px;
                line-height: 26px;
            }
        }

    }

    .link-with-image {

        margin-bottom: 35px;

    }
}