.title {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: $medium-black;

    &.title--white {
        color: $white;
    }

    &.title--mw2 {
        line-height: 42px;
        margin-bottom: 34px;
    }

    &.title--banner {
        font-weight: 600;
        font-size: 45px;
        line-height: 52px;
    }
}

.headline {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: $black;
}

.fs20 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    color: $black;
}

.fs18 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: $black;
}

.fs16 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $black;

    &.fs16--marker {
        &.fs16--marker::before {
            color: $light-blue;
            content: '\25A0';
            padding-right: 8px;
        }

    }
}

.desc {
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $black;

    &.desc--regular {
        font-weight: normal;

    }

    &.desc--gray {
        color: $gray;
    }

    &.desc--white {
        color: $white;
    }

    &.desc--banner {
        padding-bottom: 35px;
    }

    &.desc--contact {
        line-height: 26px;
    }
}

.fs-12 {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $gray;

    &.fs-12--team {
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.45;
        line-height: 24px;
    }
}

.fs24 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $white;
    padding-bottom: 10px;
}

@media (max-width: $small) {
    .title {
        font-size: 28px;

        &.title--banner {
            font-size: 32px;
        }
    }

    .headline {}

    .fs20 {}

    .fs18 {}

    .fs16 {}

    .desc {}

    .edesc {}

    .fs-12 {}

    .fs24 {}

}