$black: #000000;
$white: #FFFFFF;
$blue: #0B3142;
$light-blue: #00A8FF;
$bright-blue: #00A9FF;
$dark-blue: #0094E0;
$soft-blue: #123849;
$red: #BE3F4E;
$gray: #F8FAFB;
$light-black: #082633;
$medium-black: #022F40;
$light-gray: #E2EFF1;