.content_right {
  width: 460px;
  form {
    display: flex;
    flex-direction: column;

    input {
      height: 50px;
      background: #123849;
      border: none;
      margin-bottom: 15px;
      border-radius: 2px;
      text-align: left;
    }

    input[id="name"][placeholder],
    input[id="mail"][placeholder],
    input[id="description"][placeholder],
    input[id="text"][placeholder]{
    padding-left: 18px;
    }

    #text{
      height: 120px;}

    button {
      height: 45px;
      width: 149px;
      color: white;
      background: #00A8FF;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 3px;
      margin-top: 6px;
    }
  }
}
