.product-block {
    position: relative;
    max-width: 500px;
    margin-bottom: 235px;

    &:last-child {
        margin-bottom: 0;
    }

    .product-block_image {
        height: 555px;
    }

    .product-block-desc {
        padding: 24px 0 24px 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 328px;
        width: 100%;
        background-color: $blue;
        position: relative;

    }
}

@media (max-width: $small) {
    .product-block {
        position: relative;
        max-width: 100%;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 24px;
        }

        .product-block_image {
            height: 335px;
        }

        .product-block-desc {
            padding: 24px 0 24px 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 328px;
            width: 100%;
            background-color: $blue;
            position: relative;

        }
    }
}