.section-title {
    .title {
        margin-bottom: 15px;

        &.title--mw-prod {
            margin-bottom: 24px;
        }
    }
    .desc{
        &.desc-mw-prod {
            margin-bottom: 44px;
        }
    }

    &.section-title--prod {
        max-width: 500px;
        margin: 0;
        padding: 0;
        padding-bottom: 192px;

    }

    &.section-title--team {
        text-align: center;
        padding-bottom: 52px;
    }

    &.section-title--mw-prod {
        padding-bottom: 44px;
    }

}