.section-title {
    .title {
        margin-bottom: 15px;
    }


    &.section-title--prod {
        max-width: 500px;
        margin: 0;
        padding: 0;
        padding-bottom: 192px;

    }

    &.section-title--team {
        text-align: center;
        padding-bottom: 52px;
    }

    
}