.slider-container {
    max-width: 620px;
    margin-bottom: 20px;
    position: relative;

    &:last-child {
        position: relative;

        .tns-controls {
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);


                &:first-child {
                    left: 0;
                    background: linear-gradient(90deg, #0B3142 30.04%, rgba(11, 49, 66, 0.0001) 95.72%);
                    height: 100%;
                    width: 50px;
                    display: flex;
                    border: none;
                }

                &:last-child {
                    right: 0;
                    background: linear-gradient(270deg, #0B3142 30.04%, rgba(11, 49, 66, 0.0001) 95.72%);
                    height: 100%;
                    width: 50px;
                    display: flex;
                    border: none;
                }
            }
        }
    }
}